<%= link_to 'Back', pictures_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading center">
      <%= image_tag @picture.image.url(:medium) %>
    </div>
    <div class="panel-body">
    <p><strong><p><%= @picture.zip %></p></strong></p>
    

    <% if @picture.user == current_user %>
      <%= link_to edit_picture_path(@picture) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
    <% end %>
    <%= form_for @picture, html: { multipart: true } do |f| %>
    <div class="form-group" >
    <p><strong> <%= f.label :person %> </strong></p>
    <%= f.text_field :person,  class: "form-control",autofocus: true, placeholder: 'Who is this person?' %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %> 

    </div>
  </div>

</div>	
